* {
  margin: 0;
  padding: 0;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app-container {
}
.card {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 16px;
  height: 250px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.25);
}

.card-title {
  width: 25px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  text-align: center;
}
.card-image {
  height: 25px;
  width: 25px;
}
.upsidedown {
  transform: rotate(180deg);
}
.card-layout {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.card-image-big {
  height: 80px;
  width: 80px;
  align-self: center;
}
.app-container__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.card-cover {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 16px;
  height: 250px;
  width: 150px;
  display: flex;
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.players-hand {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.dealers-hand {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.playerStats {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.game-controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.newGame {
  height: 20vh;
  width: 40vw;
  font-size: 72px;
}
.newGame:hover {
  border: none;
  background-color: #4a4a4a;
  color: #000000;
}
.won {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
  font-size: 40px;
  margin-top: 100px;
  background-color: #4a4a4a;
  gap: 20px;
}
.play-again {
  height: 5vh;
  width: 20vw;
  font-size: 24px;
}
